.account-container {
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column nowrap;
  margin-top: 20px;
}

.account-box {
  background-color: var(--background-light, #eee);
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  position: relative;
  padding: 10px;
}

.account-box ul .label {
  display: inline-block;
  text-align: right;
  width: 100px;
  color: var(--color-primary);
  margin-right: 5px;
}

@media (max-width: 400px) {
  .account-box ul .label {
    display: block;
    text-align: left;
  }

  .account-box ul li {
    margin-bottom: 5px;
  }
}
