.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 75px;
  height: 100%;
  background-color: var(--background-primary);
}

.nav .icon {
  font-size: 50px;
  color: inherit;
  width: 50px;
  height: 50px;
}

.nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  width: 100%;
  position: relative;
  color: #fff;
}

.nav li.separator {
  height: 1px;
  background-color: rgba(255, 255, 255, 0.1);
}

.nav a.active {
  color: var(--color-nav-active);
}

.nav a:hover {
  color: var(--color-nav-hover);
}

.nav .rippleContainer {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.nav a {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav a[disabled] {
  opacity: 0.1;
}
.nav a[disabled]:hover {
  color: #fff;
}

.ripple {
  -webkit-animation: rippleAnimation 0.4s linear;
  animation: rippleAnimation 0.4s linear;
}
