.login {
  display: flex;
  align-items: center;
  height: 100%;
  flex-flow: column nowrap;
}

.login-box {
  background-color: var(--background-light, #eee);
  width: 90%;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  position: relative;
}

.login .separator {
  width: 1px;
  background-color: var(--border-on-background-light, rgba(0, 0, 0, 0.14));
}

.login .box h1 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.login p {
  margin: 0;
  padding: 0;
}

.login .box {
  width: 100%;
  position: relative;
}

.login .register-box {
  padding: 0 0 0 10px;
}

.login .loginform-box {
  padding: 0 10px 0 0;
}

.login form {
  display: flex;
  flex-flow: column nowrap;
}

.login .logobox {
  margin-bottom: 64px;
}

@media (max-width: 768px) {
  .login-box {
    flex-flow: column nowrap;
  }

  .login .separator {
    height: 1px;
    margin: 16px 0;
    width: 100%;
  }
}
