:root {
  --color-primary: #2e7d32;
  --color-primary-light: #60ad5e;
  --color-primary-dark: #005005;
  --color-secondary: #ffc107;
  --color-secondary-light: #fff350;
  --color-secondary-dark: #c79100;

  --background-primary: #212121;
  --background-light: #eee;
  --text-on-background-light: #000;
  --border-on-background-light: rgba(0, 0, 0, 0.14);
  --color-error: #e53935;

  --color-nav-hover: var(--color-secondary-light);
  --color-nav-active: var(--color-secondary);
  --loading-color: var(--color-primary);
}

.mdc-text-field--focused:not(.mdc-text-field--disabled) .mdc-floating-label {
  color: var(--mdc-theme-primary);
}

.mdc-text-field--box {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

.mdc-text-field--box:not(.mdc-text-field--disabled) {
  background-color: #d0d0d0;
}

.app {
  height: 100%;
}

.main {
  height: 100%;
}

.main .content {
  margin: 0 0 0 75px;
  height: 100%;
  overflow: auto;
}

.head-container {
  display: flex;
  justify-content: center;
}
