.loading-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.loading-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loading {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading > div:first-child {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  border: 5px solid var(--loading-color, #212121);
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 25%);
  top: calc(50% - 25%);
  animation: loading1 1s linear infinite;
}

.loading > div:last-child {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 10px solid var(--loading-color, #212121);
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  animation: loading2 1s linear infinite;
}

.loading-container .backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

@keyframes loading1 {
  40%,
  45% {
    transform: rotate(-1turn) scale(0.7);
  }
  95%,
  100% {
    transform: rotate(-2turn) scale(1);
  }
}

@keyframes loading2 {
  40%,
  50% {
    transform: rotate(0.5turn) scale(0.5);
  }
  90%,
  100% {
    transform: rotate(1turn) scale(1);
  }
}
