.notfound {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.notfound .icon {
  color: var(--color-error);
  font-size: 128px;
}

.notfound h1 {
  color: var(--color-error);
}
