.start h2 {
  font-weight: normal;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.start .info {
  margin: 0 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.14);
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  padding: 3px;
}

.start .info a {
  margin-left: 5px;
  text-decoration: underline;
}
