.logobox {
  background-color: #212121;
  width: 80%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logobox .logo {
  width: 64px;
  height: 64px;
}

.logobox h1 {
  font-size: 40px;
  color: #fff;
  margin: 0 0 0 30px;
  letter-spacing: 3px;
}

@media (max-width: 500px) {
  .logobox h1 {
    font-size: 28px;
    margin: 0 0 0 10px;
  }

  .logobox .logo {
    width: 36px;
    height: 36px;
  }
}
